<div class="jumbotron banner">
  <div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="tabimg">
      <img src="assets/bookmark_mess.jpg" alt="bookmark mess" />
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <ul class="points">
      <li>Don’t get stuck with old and irrelevant bookmarks</li>
      <li>Keep your browser free of tab clutter</li>
      <li>A bookmark to store short term web interests</li>
    </ul>
    <div class="wrapper">
      <button type="button" class="btn btn-lg btn-primary"
        onclick="window.open('https://chrome.google.com/webstore/detail/\
        30daybookmarks/dgfcciloeaeniijloddjdeahlpfcjggd?authuser=1')">
        Add to Chrome
      </button>
    </div>
  </div>
  </div>
</div>
