<div class="container-fluid">
  <div class="row mainSection">
    <div class="col-md-6 block">
      <i class="fas fa-hourglass-half colorIcon"></i>
      <b>Temporary Bookmarks</b>
      <p>Keeps your short term web interests for 30 days</p>
    </div>
    <div class="col-md-6 block">
      <i class="fas fa-boxes colorIcon"></i><b>No bookmark mess</b>
      <p>Keep bookmarks clean from old and irrelevant links</p>
    </div>
  </div>
  <div class="row mainSection">
    <div class="col-md-6 block">
      <i class="far fa-window-restore colorIcon"></i>
      <b>Avoids tab clutter</b>
      <p>Avoids clutter caused by open tabs</p>
    </div>
    <div class="col-md-6 block">
      <i class="fas fa-sort-amount-up colorIcon"></i><b>Recent First</b>
      <p>Quick way to view recent bookmarks</p>
  </div>
</div>
