<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbarStyle">
  <a class="navbar-brand" href="#">30DayBookmarks</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="https://www.facebook.com/sharer.php?s=100&p[url]=A%20temporary%20bookmark%20to%20save%20short%20term%20web%20interests.%20Keeps%20bookmarks%20for%2030%20days.%20http%3A%2F%2Fbit.ly%2F30DayBo">
        <i class="fab fa-facebook-f icon"></i>Share</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://twitter.com/intent/tweet?text=A%20temporary%20bookmark%20to%20save%20short%20term%20web%20interests.%20Keeps%20bookmarks%20for%2030%20days.%20http%3A%2F%2Fbit.ly%2F30DayBo"><i class="fab fa-twitter icon"></i>Tweet</a>
    </li>
  </ul>
<nav>
