.headSection{
  margin: 50px 20px 10px 20px;
}

.bodySection {
  margin: 20px;
}

.heading {
  font-weight: bold;
}

.txt {
  padding-top: 20px;
  margin-left: 30px;
  color: #239FFF;
  list-style-type: square;
  li {
    padding-bottom: 5px;
  }
}
