.banner {
  background-color: #EAF6FF;
}

.tabimg {
  background-image: url("../assets/bookmark_mess.jpg");
  background-size: cover;
  border: 2px solid #cecece;
  height: 300px;
}

.points {
  font-size: 20px;
  padding: 10px;
  li {
    padding:2px;
  }
}

.wrapper {
  margin-left:10px;
}
